html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
body {
    margin:0;
    padding:0;
}
p {
    font-family:'Oswald',sans-serif;
    font-weight:300;
    font-size:22px;
}
b {
    font-family:inherit;
    font-weight:800;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans',sans-serif;
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
}
h1 {
    font-weight: 800;
    font-size:48px;
}
h2 {
    font-weight:800;
    font-size:36px;
}
h3 {
    font-weight:800;
    font-size:32px;
}
a {
    text-decoration: none;
    color:inherit;
}
button {
    border-radius: 0 !important;
}
#header {
    height:110px;
    background-color:rgba(235,235,235,0.5);
}
nav {
    height:inherit;
    width:100%;
    margin:0 auto;
    position:relative;
    z-index:10;
    text-align: center;
}
#nav-wrap {
    min-width: 100%;
    width: auto !important;
    width:100%;
    white-space:nowrap;
}
nav ul#nav-left, #nav-right {
    list-style-type:none;
    display:inline-block;
    margin:0;
    padding:0;
    width:auto;
    height:100%;
}
nav img {
    display:inline-block;
    padding:0;
    margin:0;
    max-height:225px;
    vertical-align:top;
}
nav ul#nav-right-small {
    display:none;
}
nav ul li {
    display:inline-block;
    text-align:center;
    font-family: 'Oswald',helvetica,arial,sans-serif;
    font-size:1.8rem;
    font-weight:400;
    padding:0 30px;
    margin-top:30px;
}
nav ul#nav-right li:last-child {
    cursor:pointer;
    background-color:rgb(117,0,0);
    color:#fff;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    -transition: .5s;
}
nav ul#nav-right li:last-child:hover {
    background-color:inherit;
    color:#000;
}
#slider {
    position:relative;
    height:600px;
    width:100%;
}
#slider img {
    width:100%;
    height:auto;
    overflow:hidden;
}
#paused {
    position:relative;
    margin:0;
    padding:0;
    top:0;
}
#bottom-wrap {
    display:block;
    width:100%;
}
#bottom-wrap div {
    height:425px;
}
.content-wrap {
    display:block;
    height:100%;
    width:100%;
    background-color:rgba(235,235,235,0.55);
}
.content-text {
    height:auto !important;
    width:40%;
    margin:20px;
    padding:20px;
}
.right {
    float:right;
    clear:both;
    overflow:auto;
    height:auto;
}
.left {
    float:left;
    clear:both;
}
div#about {
    background:url('../img/bath3.jpg') center center no-repeat;
    background-size:cover;
}
div#design {
    background:url('../img/lr4.jpg') center center no-repeat;
    background-size:cover;
}
div#contact {
    background:url('../img/bath1.jpg') center center no-repeat;
    background-size:cover;
}
footer {
    height:45px;
    width:100%;
    background-color:rgba(235,235,235,0.5);
}
#credits {
    float:right;
    margin-right:30px;
    padding:0 10px;
    color:#a9a9a9;
    -o-transision:0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#credits img {
    height:22px;
    width:auto;
    opacity:0.65;
    vertical-align:middle;
}
#credits:hover {
    background-color:#889988;
    color:#fff;
}
.ui-dialog > div {
    border-radius:0;
}
.ui-dialog-titlebar {
    font-family:'Oswald',helvetica,arial,sans-serif;
}
.ui-widget button {
    font-family:'Oswald',helvetica,arial,sans-serif !important;
    font-weight:300;
    font-size:1.8rem;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}


/* --------- MEDIA QUERIES ------------ */
@media screen and (max-width: 1100px) {
    nav ul li {
        padding: 0 10px;
    }
    #slider {
        height:500px;
    }
}
@media screen and (max-width: 895px) {
    nav ul li {
        font-size:1.5rem;
    }
    nav img {
        width:185px;
        height:auto;
    }
}
@media screen and (max-width: 768px) {
    #header {
        height:auto;
    }
    #nav-left,#nav-right {
        display:none !important;
    }
    nav img {
        position:relative;
        height:125px;
        width:auto;
        z-index:10;
        display:inline-block;
        float:left;
    }
    nav ul#nav-right-small {
        float:right;
        display:inline-block;
        padding:0;
        margin:0;
    }
    nav ul#nav-right-small li {
        font-size:34px;
    }
    #slider {
        height:auto;
        width:100%;
    }
    #bottom-wrap div {
        display:block;
        width:100%;
        height:auto;
        float:none;
    }
    .content-text {
        width:90% !important;
        padding:10px;
        margin:0;
    }
    .content-text p {
        font-size:1.3rem;
    }
    .content-wrap {
        padding:0;
        margin:0;
    }
    
}