html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
body {
    margin:0;
    padding:0;
}
p {
    font-family:'Oswald',sans-serif;
    font-weight:300;
    font-size:18px;
}
b {
    font-family:inherit;
    font-weight:800;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Open Sans',sans-serif;
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
}
h1 {
    font-weight: 800;
    font-size:48px;
}
h2 {
    font-weight:800;
    font-size:36px;
}
h3 {
    font-weight:800;
    font-size:32px;
}
#header {
    height:110px;
    background-color:rgba(235,235,235,0.5);
}
nav {
    height:inherit;
    width:100%;
    margin:0 auto;
    position:relative;
    z-index:10;
    text-align: center;
}
nav ul#nav-left, #nav-right {
    list-style-type:none;
    margin:0;
    padding:0;
    width:auto;
    height:100%;
}
nav ul.logo {
    display:inline-block;
    padding:0;
    margin:0;
    max-height:225px;
}
.logo img {
    max-height:225px;
    max-width:30%;
}
nav ul#nav-left {
    float:left;
}
nav ul#nav-right {
    float:right;
}
nav ul#nav-right-small {
    display:none;
}
nav ul li {
    display:inline-block;
    text-align:center;
    font-family: 'Oswald',helvetica,arial,sans-serif;
    font-size:28px;
    font-weight:400;
    padding:0 30px;
    margin-top:30px;
}
nav ul li:hover {
    cursor:pointer;
    background-color:rgb(117,0,0);
}
#slider {
    position:relative;
    height:550px;
    width:100%;
    margin:0 auto;
}
#slider img {
    width:100%;
    height:auto;
    overflow:hidden;
}
#bottom-wrap {
    display:block;
    width:100%;
    margin-bottom:15px;
}
#bottom-wrap div {
    height:425px;
}
.content {
    position:relative;
    display:block;
    height:auto !important;
    width:30%;
    margin:20px;
    padding:20px;
    background-color:rgba(235,235,235,0.75);
}
.right {
    float:right;
    clear:both;
    overflow:auto;
    height:auto;
}
.left {
    float:left;
    clear:both;
}
div#about {
    background:url('../img/bath4.jpg') center center no-repeat;
    background-size:cover;
}
div#contact {
    background:url('../img/bath1.jpg') center center no-repeat;
    background-size:cover;
}

/* --------- MEDIA QUERIES ------------ */
@media screen and (max-width: 768px) {
    #nav-left,#nav-right {
        display:none !important;
    }
    nav ul#logo {
        float:left;
    }
    nav ul#logo img {
        height:125px;
        width:auto;
        margin-top:25px;
    }
    nav ul#nav-right-small {
        float:right;
        display:inline-block;
        margin-top:45px;
        padding:0;
    }
    nav ul#nav-right-small li {
        font-size:24px;
    }
    #slider {
        height:240px;
        width:90%;
    }
    #bottom-wrap div {
        display:block;
        margin-bottom: 25px;
    }
}